@font-face {
    font-family: HelveticaWorld-Regular;
    src: local("Helvetica World Regular"),
        local("HelveticaWorld-Regular"),
        url(HelveticaWorld-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: HelveticaWorld-Bold;
    src: local("Helvetica World Bold"),
        local("HelveticaWorld-Bold"),
        url(HelveticaWorld-Bold.ttf);
    font-weight: bold;
    font-style: bold;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

a, a:visited
{
	color: rgb(131, 131, 131);
	text-decoration: none;
}

a:hover
{
	color: #e23d54;
}

input[type=submit]
{
	background-color: #e23d54;
	padding: 7px 10px 7px 10px;
	color: #FFF;
	text-decoration: none;
	font-size: 14px;
	border: 0;
	height: 30px;
}

input[type=text]
{	
	height: 24px;
	color: gray;
}

body {
    font-size: 1em;
	line-height: 1.4;
	background-color: #EEE;
	font-family: 'HelveticaWorld-Regular';
	margin: 0px;
	padding: 0px;
	color:rgb(131, 131, 131);
}

/* HEADER */
h1
{
	font-size: 30px;
}

h2
{
	font-size: 26px;
}

h3
{
	font-size: 22px;
}

h4
{
	font-size: 18px;
}

h5
{
	font-size: 16px;
}

h6
{
	font-size: 14px;
}

header
{
	background-color: #e23d54;
	min-height: 150px;
	width: 100%;
	position: relative;
	padding: 1px 0 0 12px;
}

header div#header-content
{
	margin-right: auto;
	margin-left: auto;
	width: 900px;
}

header div#header-content figure
{
	width: 900px;
	height: 200px;
	overflow: hidden;
	margin-left: -12px;
}

header div#header-content h1,  
header div#header-content h2, 
header div#header-content h3, 
header div#header-content h4, 
header div#header-content h5, 
header div#header-content h6
{
	color:  #F2E7CB;
}

#general-wrap-content 
{
	margin-right: auto;
	margin-left: auto;
	height: auto;
	width: 900px;
}
section#main-content
{
	position: relative;
	float: left;
	width: 650px;
}

section#wrap-content
{
	width: 912px;
	height: auto;
	padding: 0;
	margin: 0;
	border-right: solid 1px #e0e0e0;
	background-color: rgb(250, 250, 250);
}

section#wrap-single-content
{
	float: left;
	height: auto;
	width: 650px;
}

section#single-content
{
	
}

section#single-content article
{
	background: #FDFDFD;
	border: solid 1px rgb(230, 214, 214);
	padding: 12px;
}

section#single-content article h1,
section#single-content article h2,
section#single-content article h3,
section#single-content article h4,
section#single-content article h5,
section#single-content article h6
{
	color: rgb(80, 80, 80);
}

section#single-content article time
{
	color: #33544C;
	font-weight: bold;
	font-size: 14px;
}

section#single-content article .post-header-info{
	border: solid 1px #E2E2E2;
	height: 37px;
	vertical-align: middle;
	padding: 20px 0 0 20px;
	background-color:  rgb(250, 250, 250);
}

section#single-content article .post-header-info a{
	background-color: #e23d54;
	padding: 1px 10px 1px 10px;
	color: #FFF;
	text-decoration: none;
	font-size: 14px;
}


section#single-content article p
{
	color: rgb(85, 85, 85);
}

section#single-content article pre
{
	border: solid 1px rgb(226, 226, 226);
	background-color: rgb(243, 243, 243);
	padding: 13px;
}


nav#top-menu
{
	width: 900px;
	background-color: #FFF;
	padding: 6px;
	position: relative;
	height: 50px;
	text-align: left;
}

nav#top-menu ul, nav#footer-menu div ul
{
	list-style: none;
}

nav#top-menu ul li, nav#footer-menu div ul li
{
	display: inline-block;
}

nav#top-menu ul li a,  
nav#top-menu ul li a:visited,
nav#footer-menu div ul li a
{
	color: #8D8D8D;
	text-decoration: none;
	font-size: 16px;
	padding: 0px 15px 0 15px;
}

nav#top-menu ul li a:hover
{
	color: #e23d54;
}

section#slider
{
	width: 900px;
	height: 300px;
	background-color: #00A7A8;
	padding: 6px;
}


aside
{
	width: 249px;
	overflow: hidden;
	position: relative;
}

aside div h2
{
	color: #e23d54;
	font-size: 18px;
	width: 100%;
	background: rgb(243, 243, 243);
	height: 40px;
	padding-top: 6px;
	padding-bottom: 0px;
	padding-left: 6px;
	border-bottom: dotted 2px #F1E7E8;
}

aside div ul li a, aside div ul li a:visited
{
	text-decoration: none;
	font-size: 14px;
	color: rgb(131, 131, 131);
}

aside div ul li a:hover
{
	color: #e23d54;
}

/* blockquotes */
blockquote, blockquote  p
{
	font-size:18px;
}

blockquote  p cite
{
	font-size:14px;
}

footer
{
	width: 100%;
	background-color: #252525;
	position: relative;
	float: none;
	clear: both;	
}

#footer-header
{
	width: 100%;
	background-color:#e0e0e0;
	position: relative;
	height: 14px;	
}